---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Card from '../components/Card.astro';
---

<Layout title="David Lorenzo" theme="dark">
	<main class="main mx-auto px-4 py-5">
		<Header />
		<br><br><br><br>
		<Card />
		<br><br>
	</main>
</Layout>