---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Work from '../components/Work.astro';
---

<Layout title="David Lorenzo" theme="dark">
	<main class="main mx-auto px-4 py-5">
		<Header />
	</main>
</Layout>