---
    interface Props {
        title: string;
        description: string;
        badge: string;
        image: string;
    }
    const { title, description, badge, image } = Astro.props;
---

<article class="mt-4 pt-4">
    <h2 class="fs-4 mb-3">{title}</h2>
    <p>{description}</p>
    <span class="badge py-2 px-3 text-secondary border border-opacity-25 border-secondary rounded-pill">
        {badge}
    </span>
    <div class="ratio ratio-16x9 mt-4 rounded-4 overflow-hidden">
        <img src={image} alt="..." class="img-fluid object-fit-cover" />
    </div>
</article>

<style>
    .ratio-16x9 img {
        transition: transform 0.5s ease-in-out;
    }  
    .ratio-16x9:hover img {
        transform: scale(1.1);
    }
</style>