<header class="my-5 py-5">
    <h1 class="fs-2">Hi! I'm David Lorenzo</h1>
    <p class="fs-5 my-3">Diseñador de UI/UX y desarrollador web. +1 año de experiencia en desarrollo web. Apasionado por diseñar y crear interfaces que mejoren la experiencia del usuario.</p>
    <div class="d-flex flex-wrap align-items-center gap-2">
        <span class="py-1 px-2 text-secondary bg-secondary bg-opacity-25 rounded-pill fw-medium d-flex align-items-center">
            <i class="bi bi-github me-1"></i>
            Github
        </span>
        <span class="py-1 px-2 text-secondary bg-secondary bg-opacity-25 rounded-pill fw-medium d-flex align-items-center">
            <i class="bi bi-threads me-1"></i>
            Threads
        </span>
        <span class="py-1 px-2 text-secondary bg-secondary bg-opacity-25 rounded-pill fw-medium d-flex align-items-center">
            <i class="bi bi-linkedin me-1"></i>
            Linkedin
        </span>
        <span class="py-1 px-2 text-secondary bg-secondary bg-opacity-25 rounded-pill fw-medium d-flex align-items-center">
            <i class="bi bi-youtube me-1"></i>
            Youtube
        </span>
        <span class="py-1 px-2 text-secondary bg-secondary bg-opacity-25 rounded-pill fw-medium d-flex align-items-center">
            <i class="bi bi-behance me-1"></i>
            Behance
        </span>
        <span class="py-1 px-2 text-secondary bg-secondary bg-opacity-25 rounded-pill fw-medium d-flex align-items-center">
            dlorenzodev@outlook.com
        </span>
    </div>
</header>