<header class="my-5 py-5">
    <div class="d-flex align-items-center">
        <h1 class="fs-2">Hi! I'm David Lorenzo</h1>
        <span class="badge text-success border border-success bg-success bg-opacity-25 rounded-pill ms-3">Available for hire</span>
    </div>
    <p class="fs-5 my-3">Diseñador de UI/UX y desarrollador web. +1 año de experiencia en desarrollo web. Apasionado por diseñar y crear interfaces que mejoren la experiencia del usuario.</p>
    <div class="d-flex align-items-center gap-2">
        <span class="badge py-2 px-3 text-secondary border border-opacity-25 border-secondary rounded-pill">
            Github
        </span>
        <span class="badge py-2 px-3 text-secondary border border-opacity-25 border-secondary rounded-pill">
            Threads
        </span>
        <span class="badge py-2 px-3 text-secondary border border-opacity-25 border-secondary rounded-pill">
            Linkdin
        </span>
        <span class="badge py-2 px-3 text-secondary border border-opacity-25 border-secondary rounded-pill">
            dlorenzodev@outlook.com
        </span>
    </div>
</header>