<header>
    <section class="position-relative d-flex justify-content-center align-items-center flex-column">
        <section class="ratio ratio-1x1 overflow-hidden rounded-circle use-photo">
            <img src="./photo.webp" alt="David Lorenzo photo" class="img-fluid object-fit-cover object-top">
            <section class="bg-dark w-100 h-100 opacity-50"></section>
        </section>
        <section class="position-absolute top-100 start-50 translate-middle p-0 m-0">
            <section class="username bg-dark px-2 py-1 rounded-1">
                <h2 class="text-gradient fs-3 text-center">David Lorenzo</h2>
            </section>
        </section>
    </section>
    <section class="mt-5 pt-3 d-flex justify-content-center align-items-center flex-column">
        <h1 class="fs-4 text-secondary">dlorenzo@outlook.com</h1>
        <p class="fs-4">Desinger UI/UX and Front-end</p>
        <section class="d-flex justify-content-center align-items-center text-gradient">
            <i class="bi bi-circle-fill"></i>
            <p class="fs-5 ms-2">Disponible</p>
        </section>
    </section>
</header>

<style>
    .use-photo {
        max-width: 275px;
        max-height: 275px;
    }
    .username {
        transform: rotate(-5deg);
    }
</style>