<header>
    <section class="position-relative d-flex justify-content-center align-items-center flex-column">
        <section class="ratio ratio-1x1 overflow-hidden rounded-circle use-photo">
            <img src="https://i.pinimg.com/736x/4f/7e/9d/4f7e9df9c1fbe78f4b4c2053cb739b4a.jpg" alt="David Lorenzo photo" class="img-fluid object-fit-cover object-top">
            <section class="bg-dark w-100 h-100 opacity-50"></section>
        </section>
        <section class="position-absolute top-100 start-50 translate-middle p-0 m-0">
            <section class="username bg-dark px-2 py-1 rounded-1">
                <h2 class="text-gradient fs-3">@dlorenzo</h2>
            </section>
        </section>
    </section>
    <section class="mt-5 pt-3 d-flex justify-content-center align-items-center flex-column">
        <h1 class="fs-4">David Lorenzo <span class="text-secondary">he/him</span></h1>
        <p class="fs-4">Web delopher and designer</p>
        <section class="d-flex justify-content-center align-items-center">
            <i class="bi bi-geo-alt-fill text-gradient me-2"></i>
            <p class="fs-4">Based in spain</p>
        </section>
    </section>
</header>

<style>
    .use-photo {
        max-width: 350px;
        max-height: 350px;
    }
    .username {
        transform: rotate(-5deg);
    }
</style>