--- 
import Card from '../components/Card.astro';
---

<section>
    <header class="d-flex align-items-center text-secondary">
        <i class="bi bi-layers-fill fs-5 me-2"></i>
        <h2 class="fs-5 fw-mediun m-0">Ultimos Proyectos</h2>
    </header>
    <Card / title='Digital agency web design' description='Dodeca is a company (digital agency) that focuses on designing, web development and branding for startups. This is my one-page exploration of digital companies.' badge='Design and Development' image='./01.jpg' />
    <Card / title='Blog site travel and culinary' description='Daydaytravel is the result of my exploration of blogs that discuss reviews of tourist attractions and culinary in various regions of Indonesia.' badge='Design and Development' image='./02.jpg' />
</section>